/* #region Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dotted;
}
/* #endregion */

/* #region Utilities*/
/* debug */
body{
    background-color: red;
}
.debug .left{
    width: 40vw;
    height: 90vh;
    background-color: aqua;
}
.debug .right{
    width: 40vw;
    height: 90vh;
    background-color: rebeccapurple;
}
.debug .left_header{
    height: 20%;
    background-color: brown;
}
.debug .left_main{
    height: 80%;
    background-color: burlywood;
}
.debug .right_header{
    height: 10%;
    background-color: green;
}
.debug .right_main{
    height: 80%;
    background-color: greenyellow;
}
.debug .right_footer{
    height: 10%;
    background-color: rgb(51, 128, 0);
}
/* #endregion */

/* #region webapp? */
.background_fullscreen{
    display: flex;
    width: 80vw;
    margin: 5vh auto;
}
/* left */
.left{
    display: flex;
    flex-direction: column;
}
/* right */
/* #endregion */

/* #region Media Queries*/
@media screen and (max-width: 991px) {
    body{
        background-color: blue;
    }
    
}

@media screen and (max-width: 540px) {
    body{
        background-color: purple;
    }
    
}
/* #endregion */



