/* TODO:
-remove right columns and use flex grow */
/* #region Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
.light_text{
    color: #b1b1b1;
}
/* #endregion */

/* #region Utilities*/
:root{
    --bz-bgfullscreen-top:#009688;
    --bz-bgfullscreen-bottom:#dbdbd3;
    --bz-bg-up:#eaeaea;
    --bz-icons:#b1b1b1;
    --bz-notification:#8edafc;
    --bz-bg-profilepic:#f2f2f2;
    --bz-mymsg:#d5f9ba;
    --bz-friendmsg:#ffffff;
}   
.col-4{
    width: calc((100%/12)*4);
}
.col-8{
    width: calc((100%/12)*8);
}
/* debug */
.debug  {
    *{
        border: 1px dotted;
    }
    .left{
        background-color: aqua;
    }
    .right{
        background-color: rebeccapurple;
    }
    .left_header{
        /* height: 20%; */
        background-color: brown;
    }
    
    .right_header{
        height: 10%;
        background-color: green;
    }
    .right_main{
        height: 80%;
        background-color: greenyellow;
    }
    .right_footer{
        height: 10%;
        background-color: rgb(51, 128, 0);
    }
    .friend-msg, .my-msg{
        height: 100px;
        width: 400px;
    }

    

    
}
/* #endregion */

/* #region webapp? */
body{
    background: linear-gradient(
        to top,
        var(--bz-bgfullscreen-bottom) 70%,
        var(--bz-bgfullscreen-top) 30%
    );
}
.background_fullscreen{
    display: flex;
    width: 80vw;
    margin: 5vh auto;
    /* potrei togliere le misure a left e right dandogli solo height 100%?? */
}
/* left */

.left{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.left_main{
    overflow: scroll;
    background-color: var(--bz-friendmsg);
}
.my_profile, .current_chat{
    
    justify-content: space-between;

    display: flex;
}
.my_profile,
.current_chat,
.desktop_notification,
.chat
{
    padding: 0.5rem;
    height: 10vh;
}
.my-img{
    aspect-ratio: 1;
    img{
        border-radius: 50% ;
    }
}
.my_profile,
.current_chat{
    background-color: var(--bz-bg-up);

}
.desktop_notification,
.chat,
.name_hour,
.search_chat{
    display: flex;
    flex-direction: row;
}
.name_hour{
    justify-content: space-between;
}
.icon_text{
    width: 100%;
}
.search_chat
{
    padding: 0.5rem;
    gap: 1rem;
}
.desktop_notification{
    background-color: var(--bz-notification);
}
/* 
.debug {
    .my-img{
        width: 50px;
        background-color: tomato;
    }
    .my_actions{
        height: 100%;
        width: 300px;
    }
}

.my_actions{
    display: flex;
    justify-content: center;
}
 */

/* right */
.right{
    /* need to add flex-grow: 1; */
    height: 90vh;
    flex-grow: 1;
}
.my-msg{
    background-color: var(--bz-mymsg);
    align-self: flex-end;
}
.friend-msg{
    background-color: var(--bz-friendmsg);
    align-self: flex-start;
}
.right_main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    padding: 2rem 4rem;
}
.my-msg,
.friend-msg{
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
}
.time{
    position: absolute;
    bottom: 2px;
    right: 2px;
}
/* #endregion */






/* #region Media Queries*/
@media screen and (max-width: 991px) {
    body{
        background-color: blue;
    }
    .search_chat{
        display: none;
    }
    .profile_insight{
        display: none;
    }
    .background_fullscreen{
        width: 100%;
        margin: 0;
    }
    .left, .right{
        height: 100vh;
    }
    .col-1{
        width: calc(100%/12);
    }
    .col-11{
        width: calc((100%/12)*11);
    }
}

@media screen and (max-width: 540px) {

    .left{
        display: none;
    }
    /* .col-12{
        width: calc(100%);
    } */
}
/* #endregion */



